* {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 4.948vw;
  background-color: #131313;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3.125vw;
}

#navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Lato";
  font-size: 3.333vw;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 3.125vw;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 1.3vw;
  text-decoration: none;
  color: #eee;
  transition: all 0.1s ease-in-out;
}

.navbar__item {
  justify-content: space-evenly;
}

#navbar__logo:hover {
  text-shadow: 0px 0px 7px white;
}

.navbar__links:hover {
  text-shadow: 0px 0px 10px white;
}

.intro__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.563vw;
  background-color: #dedede;
  padding: 3.125vw 0;
  margin-top: 12.5vw;
  margin-bottom: 9.323vw;
}

h1.name {
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  font-size: 5vw;
}

p.about__paragraph {
  font-size: 1.042vw;
  color: black;
  width: 100%;
  max-width: 74.844vw;
  text-align: center;
  line-height: 1.5;
}

.logo__container {
  display: flex;
  margin-bottom: 0.833vw;
  margin-left: 10%;
}

.intro__links {
  margin: 0 0.781vw;
}

hr {
  width: 85%;
  margin: auto;
  color: #808080;
}

/* About section */

.about__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 16.198vw 0;
  gap: 3.594vw;
}

.about__details {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  max-width: 27.448vw;
}

.about__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
}

.about__header {
  font-size: 1.302vw;
  color: #2e2e2e;
  font-weight: 500;
  margin: 1.458vw 0;
}

.about__facts {
  font-size: 1.042vw;
  color: #2e2e2e;
  list-style-type: square;
  padding-left: 1.042vw;
}

.hometown__img {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.landscape__img {
  max-width: 40.729vw;
  max-height: 25.156vw;
  border-radius: 1.563vw;
  border: 0.26vw solid #808080;
}

.landscape__disc {
  font-size: 0.677vw;
  margin-right: 1.042vw;
}

/* Portfolio section */

.portfolio__label__container {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin: 7.407vh 14.063vw;
}

.portfolio__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
}

.portfolio__header {
  font-size: 1.302vw;
  color: #2e2e2e;
  font-weight: 500;
}

.swiper {
  max-width: 100%;
  max-height: 62%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10.37037037037vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper [class^="swiper-button-"] {
  color: #131313;
}

.swiper-button-prev,
.swiper-button-next {
  transition: 0.2s linear;
}

.swiper-button-prev {
  margin-left: 7vw;
}

.swiper-button-next {
  margin-right: 7vw;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.2);
}

.mySwiper .swiper-pagination-bullet {
  background-color: #808080;
  width: 13px;
  height: 13px;
  margin: 0 0.781vw !important;
}

.swiper-pagination-bullet {
  border: 0.1vw solid #808080;
  transition: 0.2s linear;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  background-color: #000;
}

.img__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__img {
  max-height: 50vh;
  max-width: 45vw;
  border-radius: 1.563vw;
  border: 0.26vw solid #808080;
}

.carousel__description {
  max-width: 21.25vw;
  margin: 0 0 2vh 2.656vw;
}

.project__title {
  font-size: 1.563vw;
  color: #2e2e2e;
  font-weight: 500;
  margin-bottom: 2vh;
}

.project__details {
  font-size: 1.042vw;
  color: #2e2e2e;
  margin-bottom: 2vh;
}

.project__icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2vh;
}

.github__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9d9d9;
  max-width: 7.708vw;
  max-height: 5.9259259259259vh;
  border-radius: 1.563vw;
}

/* skills section */

.skills__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
  margin: 7.3vh 0 1.5vh 15.677vw;
}

.skills__content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  background-color: #dedede;
  width: 100%;
  height: 100%;
  max-height: 35.648148148148vh;
  margin-bottom: 14.9vh;
  padding: 4.9vh 0 4.9vh;
}

.skills__header {
  font-size: 1.823vw;
  color: #2e2e2e;
  font-weight: 600;
  margin-bottom: 2.13vh;
}

.courses__list{
  padding-left: 1.042vw;
}

.courses__item {
  font-size: 1.042vw;
  color: #2e2e2e;
  list-style-type: square;
}

.languages__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col__lang__icon {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 1.76vh 2.448vw;
}

.languages__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 9.3vh;
}
