* {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: #F6F6F6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.invisible{
  display: none;
}

.mobile__navbar__menu {
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 100;
}


.mobile__navbar__item {
  padding: 15px;
}

.mobile__navbar__links {
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}

#menu-bar {
  color: white;
  display: none;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3.125vw;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Lato";
  font-size: 70px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 3.125vw;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 1.3vw;
  text-decoration: none;
  color: #eee;
  transition: all 0.1s ease-in-out;
}

.navbar__item {
  justify-content: space-evenly;
}

.navbar__logo:hover {
  text-shadow: 0px 0px 7px white;
}

.navbar__links:hover {
  text-shadow: 0px 0px 10px white;
}

.intro__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.563vw;
  background-color: #dedede;
  padding: 3.125vw 0;
  margin-top: 12.5vw;
  margin-bottom: 9.323vw;
}

h1.name {
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  font-size: 5vw;
}

p.about__paragraph {
  font-size: 1.042vw;
  color: black;
  width: 100%;
  max-width: 74.844vw;
  text-align: center;
  line-height: 1.5;
}

.intro__word__links {
  color: black;
  transition: 0.1s ease-in;
}

.intro__word__links:hover{
  font-weight: 600;
}

.intro-link-logo {
  width: 30px;
  transition: 0.2s ease-in;
}

.intro-link-logo:hover {
  transform: scale(1.5);
}

.logo__container {
  display: flex;
  margin-bottom: 0.833vw;
  margin-left: 10%;
}

.intro__links {
  margin: 0 0.781vw;
}

hr {
  width: 85%;
  margin: auto;
  color: #808080;
}

/* About section */

.about__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 250px 0 250px;
  gap: 10px;
}

.about__details {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  max-width: 27.448vw;
}

.about__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
}

.about__header {
  font-size: 1.302vw;
  color: #2e2e2e;
  font-weight: 500;
  margin: 1.458vw 0;
}

.about__facts {
  font-size: 1.042vw;
  color: #2e2e2e;
  list-style-type: square;
  padding-left: 1.042vw;
}

.hometown__img {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.landscape__img {
  width: 40.729vw;
  height: 25.156vw;
  border-radius: 1.563vw;
  border: 0.26vw solid #808080;
}

.landscape__disc {
  font-size: 0.677vw;
  margin-right: 1.042vw;
}

/* Portfolio section */

.portfolio__label__container {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin: 10vh 14.063vw;
}

.portfolio__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
}

.portfolio__header {
  font-size: 1.302vw;
  color: #2e2e2e;
  font-weight: 500;
}

.swiper {
  max-width: 100%;
  max-height: 62%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10.37037037037vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper [class^="swiper-button-"] {
  color: #131313;
}

.swiper-button-prev,
.swiper-button-next {
  transition: 0.2s ease-in;
}

.swiper-button-prev {
  margin-left: 7vw;
}

.swiper-button-next {
  margin-right: 7vw;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.2);
}

.mySwiper .swiper-pagination-bullet {
  background-color: #808080;
  width: 13px;
  height: 13px;
  margin: 0 0.781vw !important;
}

.swiper-pagination-bullet {
  border: 0.1vw solid #808080;
  transition: 0.2s linear;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  background-color: #000;
}

.img__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__img {
  z-index: 0;
  position: relative;
  max-height: 50vh;
  width: 30%;
  max-width: 40vw;
  border-radius: 1.563vw;
  border: 0.26vw solid #808080;
}

.carousel__description {
  max-width: 21.25vw;
  margin: 0 0 2vh 2.656vw;
}

.project__title {
  font-size: 1.563vw;
  color: #2e2e2e;
  font-weight: 500;
  margin-bottom: 2vh;
}

.project__details {
  font-size: 1.042vw;
  color: #2e2e2e;
  margin-bottom: 2vh;
}

.download-resume{
  font-size: 1.042vw; 
  margin: 0.677vw 0 0 1.042vw;
}

.project__icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2vh;
}

.github__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9d9d9;
  height: auto;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 1.563vw;
  gap: 5px;
}

.github__btn__img{
  max-width: 3.333vw; 
  max-height: 5.9259259259259vh;
}

.github__btn__txt{
  font-size: 0.938vw; 
  color: black;
}



.resume__link {
  color: #000;
  transition: 0.1s ease-in;
}

.resume__link:hover{
  font-weight: 600;
}

.project__icon{
  transition: 0.2s ease-in;
}

.project__icon:hover{
  transform: scale(1.2);
}

/* skills section */

.skills__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
  margin: 22vh 0 1.5vh 15.677vw;
}

.skills__content {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: start;
  background-color: #dedede;
  width: 100%;
  height: 100%;
  max-height: 35.648148148148vh;
  margin-bottom: 30vh;
  padding: 4.9vh 0 4.9vh;
}

.skills__header {
  font-size: 1.823vw;
  color: #2e2e2e;
  font-weight: 600;
  margin-bottom: 2.13vh;
}

.courses__list {
  padding-left: 1.042vw;
}

.courses__item {
  font-size: 1.042vw;
  color: #2e2e2e;
  list-style-type: square;
}

.languages__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col__lang__icon {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 1.76vh 1.8vw;
  align-items: center;
  justify-items: center;
}

.languages__logo {
  max-height: 9.3vh;
  object-fit: contain;
  transition: 0.2s ease-in;
  width: auto;
}

.languages__logo:hover {
  transform: scale(1.2);
}

/* contact */

.contact__head__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}

.contact__title {
  font-size: 4.688vw;
  color: rgb(51, 51, 51);
}

.contact__subtitle {
  font-size: 1.302vw;
  color: #2e2e2e;
  font-weight: 500;
}

.contact__description__container {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 820px) {
  .contact__description__container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .skills__title {
    margin-top: 100px;
    font-size: 30px;
  }

  .skills__header {
    font-size: 20px;
  }

  .courses__item {
    font-size: 10px;
  }

  .skills__content{
    flex-direction: column;
    max-height: 65%;
    align-items: center;
    justify-content: center;
    margin-bottom: 42%;
  }

  .languages__logo{
    height: 80%;
  }

  .col__lang__icon {
    margin-left: -40%;
    grid-gap: 10% 20%;
    margin-bottom: 20%;
  }

}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  height: 100%;
}

.form__button {
  width: 10rem;
  padding: 10px;
  border-radius: 1.563vw;
  background: #000;
  color: white;
  font-size: 1rem;
  border: none;
}

.contact__input {
  width: 80%;
  height: 50px;
  border: 1px solid #d3d3d3;
  font-size: 1rem;
  color: #2d2d2d;
  padding: 0 42px 0 42px;
  transition: 0.5s ease-in;
  outline: none;
  resize: none;
}

.contact__input:focus {
  border: 1px solid #808080;
}

.contact__links__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}

.contact__link__container {
  display: flex;
}

.contact__link {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
}

.contact__icon {
  max-height: 4rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__icon__name {
  font-size: 2rem;
  color: #2e2e2e;
}

.contact__link__name {
  font-size: 1.2rem;
  color: #2d2d2d;
  text-decoration: none;
}

.contact__icons__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}

.contact__info__container {
  margin-top: -5%;
  height: 100%;
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 820px) {
  .contact__link__name {
    font-size: 10px;
  }

  .contact__icon__name {
    font-size: 10px;
  }

  .contact__info__container {
    margin-top: 0;
  }

  .contact__icon {
    max-height: 25px;
  }

  .contact__input {
    font-size: 10px;
  }
}

.footer {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #131313;
}

.resume__header__container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 2vh 9vw 2vh 9vw;
}

.resume__title {
  font-size: 90px;
  color: rgb(51, 51, 51);
}

.resume__subtitle{
  font-size: 20px;
  color: #000;
  font-weight: normal;
}

.resume__img__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume__img {
  margin: 3vh;
  width: 60%;
  height: auto;
}

.download__drive{
  color: 000;
  transition: 0.1s ease-in;
}

.download__drive:hover{
  font-weight: 600;
}

@media only screen and (max-width: 820px) {

  .img__container{
    margin-bottom: 30px;
  }

  .logo__container {
    margin-bottom: 3vh;
  }

  .swiper-button-next{
    display: none!important;
  }

  .swiper-button-prev{
    display: none!important;
  }

  .carousel__img {
    max-height: 20vh;
    width: 100%;
    max-width: 100%;
  }

  .portfolio__header{
    font-size: 10px;
  }

  .intro__container{
    padding: 10vh 0;
    margin: 100px 0;
  }

  .download-resume{
    font-size: 10px; 
  }

  .carousel__description {
    text-align: center;
    margin: 0 10px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__data {
    flex-direction: column;
  }

  .about__container {
    margin: 140px 0;
    flex-direction: column-reverse;
  }

  .about__details{
    margin-top: 10px;
  }

  .hometown__img{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landscape__img{
    width: 70%;
    height: auto;
  }

  .landscape__disc{
    text-align: center;
    font-size: 10px;
  }

  .about__details {
    max-width: 80%;
  }

  h1.name {
    margin-bottom: 3vh;
    font-size: 40px;
  }

  p.about__paragraph {
    font-size: 1rem;
  }

  .navbar__menu {
    display: none;
  }

  #menu-bar {
    display: block;
  }

  .navbar__logo {
    font-size: 40px;
  }

  .about__title {
    font-size: 30px;
  }

  .about__header {
    font-size: 15px;
  }

  .about__facts {
    font-size: 12px;
  }

  .project__icons{
    align-items: center;
    justify-content: center;
  }

  .project__title {
    font-size: 1.5rem;
  }

  .mySwiper .swiper-pagination-bullet {
    background-color: #808080;
    width: 10px;
    height: 10px;
    margin: 0 4vw !important;
  }

  .swiper{
    max-height: 70%;
  }

  .github__btn{
    width: fit-content;
  }

  
.github__btn__txt{
  font-size: 10px; 
}

  .github__btn__img{
    max-width: 30px; 
    max-height: auto;
  }

  .project__details {
    font-size: 12px;
  }

  .portfolio__title {
    font-size: 30px;
  }

  .contact__input{
    width: 100%;
    padding: 5px 10px;
  }

  .form__container{
    justify-content: center;
    align-items: center;
  }

  .contact__title{
    font-size: 30px;
  }

  .contact__subtitle{
    font-size: 10px;
  }

  .contact__head__container{
    margin-bottom: 30px;
  }

  .resume__title{
    font-size: 30px;
  }

  .resume__subtitle{
    font-size: 10px;
  }

  .resume__img{
    width: 90%;
  }
}
