* {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  background-color: #131313;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 60px;
}

#navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Lato";
  font-size: 64px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 60px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-size: 32px;
  text-decoration: none;
  color: #eee;
  transition: all 0.1s ease-in-out;
}


.navbar__item {
  justify-content: space-evenly;
}

#navbar__logo:hover {
  text-shadow: 0px 0px 7px white;
}

.navbar__links:hover {
  text-shadow: 0px 0px 10px white;
}

/* About section */

.intro__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  background-color: #dedede;
  padding: 60px 0;
  margin-top: 240px;
  margin-bottom: 179px;
}

h1.name {
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  font-size: 96px;
}

p.about__paragraph {
  font-size: 20px;
  color: black;
  width: 100%;
  max-width: 1437px;
  text-align: center;
  line-height: 1.5;
}

.logo__container {
  display: flex;
  margin-bottom: 16px;
  margin-left: 10%;
}

.intro__links {
  margin: 0 15px;
}

hr {
  width: 85%;
  margin: auto;
  color: #808080;
}

.about__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 311px 0;
  gap: 69px;
}

.about__details{
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  max-width: 527px;
}

.about__title {
  font-size: 90px;
  color: rgb(51, 51, 51);
}

.about__header {
  font-size: 25px;
  color: #2e2e2e;
  font-weight: 500;
  margin: 28px 0;
}

.about__facts {
  font-size: 20px;
  color: #2e2e2e;
  list-style-type: square;
  padding-left: 20px;
}

.hometown__img{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.landscape__img{
  width: 100%;
  max-width: 782px;
  max-height: 483px;
  border-radius: 30px;
  border: 5px solid #808080;
}

.landscape__disc{
  font-size: 13px;
  margin-right: 20px;
}